.secImg{
  max-width: 100% !important;
  height: 100% !important;
}

.cardStyle{
  background: linear-gradient(to right, #f6fcff, #c6e1ff);
  width: calc(100% + 120px);
}
.cardStyle1{
  background: linear-gradient(to right, #f6fcff, #c6e1ff);
}