/* Created by Snehil Sinha */
.snehil-trace {
  content: "Developed by Snehil Sinha @ Topia Lifesciences Pvt.ltd., Email: snehil.sinha@topialifesciences.com";
  display: none;
}

/* FONTS */
@import url(../css/clash-display.css);

/* VARIABLES */
:root {
  --c-dark: #212529;
  --c-brand: #21488b;
  --btn-light-1: #808080;
  --c-brand-light: #4ca4e5;
  --c-brand-ultralight: #77bcec;
  --c-brand-rgb: 33, 72, 139;
  --c-body: #727272;
  --font-base: "ClashDisplay", sans-serif;
  --box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.08);
  --transition: all 0.5s ease;
}

/* RESET & HELPERS */
body {
  background: linear-gradient(to right, #f6fcff, #c6e1ff);
  font-family: var(--font-base);
  line-height: 1.7;
  color: var(--c-body);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 600;
  color: var(--c-dark);
}

a {
  text-decoration: none;
  color: var(--c-brand);
  transition: var(--transition);
}

a:hover {
  color: var(--c-brand-light);
}

img {
  max-width: 100%;
  height: auto;
}
.topiaLogo {
  max-width: 100%;
  height: 30px;
}

.section-padding {
  padding-top: 140px;
  padding-bottom: 140px;
}

.section-padding-2 {
  padding-top: 80px;
  padding-bottom: 45px;
}

.theme-shadow {
  box-shadow: var(--box-shadow);
}

/* IMAGE ZOOM */
.image-zoom {
  position: relative;
  /* overflow: hidden; */
}

.image-zoom-wrapper {
  overflow: hidden;
  position: relative;
}

.image-zoom-wrapper img {
  transition: var(--transition);
}

.image-zoom:hover .image-zoom-wrapper img {
  transform: scale(1.1);
}

/* NAVBAR */

body.offcanvas-open {
  overflow: hidden; /* Disable scrolling */
}

.navbar {
  box-shadow: var(--box-shadow);
}

.navbar-nav .nav-item {
  margin: 0 35px;
}

.navbar-nav .nav-link {
  padding: 0; /* Optional: Removes extra padding if needed */
  transition: 0.5s ease-in-out;
}

.navbar-nav .nav-link {
  font-weight: 500;
  color: var(--c-dark);
}

.navbar-nav .nav-link.active {
  color: var(--c-brand);
  font-size: larger;
  transition: 0.5s ease-in-out;
}
.navbar-nav .nav-link.active:hover {
  font-size: xx-large;
}

.nav-item:hover {
  font-size: xx-large;
}

/* BTN */
.btn {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 0;
  padding: 10px 24px;
}

.btn-brand {
  background-color: var(--c-brand);
  border-color: var(--c-brand);
  color: white;
  width: 200px; /* Initial width */
  transition: width 0.5s ease; /* Specify what property to transition */
}
.btn-light-1 {
  background-color: var(--btn-light-1);
  border-color: var(--btn-light-1);
  color: #ffffff;
  width: 200px; /* Initial width */
  transition: width 0.5s ease; /* Specify what property to transition */
}
.btn-light-1:hover {
  background-color: var(--c-brand);
  border-color: var(--c-brand);
  color: #ffffff;
  width: 400px; /* Target width */
  border-radius: 10px;
}

.btn-brand:hover {
  background-color: var(--btn-light-1);
  border-color: var(--btn-light-1);
  width: 400px; /* Target width */
  color: white;
  border-radius: 10px;
  transition: 400ms;
}

/* HERO */
#home {
  background: linear-gradient(
      rgba(var(--c-brand-rgb), 0.507),
      rgba(var(--c-brand-rgb), 0.438)
    ),
    url(../images/banner.webp);
  background-position: center;
  background-size: cover;
}
#policyHome {
  background: linear-gradient(
      rgba(var(--c-brand-rgb), 0.507),
      rgba(var(--c-brand-rgb), 0.438)
    ),
    url(../images/banner2.svg);
  background-position: center;
  background-size: cover;
}
#tncHome {
  background: linear-gradient(
      rgba(var(--c-brand-rgb), 0.507),
      rgba(var(--c-brand-rgb), 0.438)
    ),
    url(../images/banner3.jpg);
  background-position: center;
  background-size: cover;
}

/* SECTION TITLE */
.section-title {
  margin-bottom: 60px;
}

.section-title .line {
  width: 60px;
  height: 4px;
  background-color: var(--c-brand-light);
  margin: 16px auto 24px auto;
}

.section-title p {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.white-underline {
  display: block;
  width: 65px;
  height: 3px; /* Adjust thickness */
  background-color: white;
  margin: 0 auto; /* Center alignment */
}

/* ICONBOX */
.iconbox {
  width: 70px;
  height: 70px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: rgba(var(--c-brand-rgb), 0.1);
  color: var(--c-brand);
  font-size: 34px;
  flex: none;
}

/* .fs-8{
    font-size: 80px !important;
} */

.fs-6 {
  .fs-8 {
    font-size: 80px !important;
  }
}

.fs-6:hover {
  font-size: 20px !important;
  font-weight: 400;
  .fs-8 {
    font-size: 100px !important;
    transition: var(--transition);
  }
}

/* SERVICE */
.service {
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.service1 {
  max-height: 600px;
  min-height: 600px;
}
.service2 {
  max-height: 1000px;
  min-height: 600px;
}
.service3 {
  max-height: 1000px;
  min-height: 600px;
}

.service::after {
  content: "";
  width: 40px;
  height: 40px;
  background: rgba(var(--c-brand-rgb), 0.2);
  position: absolute;
  bottom: 0;
  right: 0;
  transition: var(--transition);
}

.service:hover::after {
  width: 100%;
  height: 100%;
  background: var(--c-brand);
  z-index: -1;
}

.service:hover h5,
.service:hover p {
  color: white;
  text-align: justify;
}

.service:hover h5,
.service:hover li {
  color: white;
  text-align: justify !important;
}

.service li {
  text-align: justify !important;
}

.service:hover .iconbox {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

.deck {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.card {
  flex: 1 0 auto;
}

/* COUNTER */
#salient {
  /* background: linear-gradient(rgba(var(--c-brand-rgb), 0.8), rgba(var(--c-brand-rgb), 0.8)), url(../images/counter.jpg); */
  background: var(--c-brand);
  background-position: center;
  background-size: cover;
}
/* PORTFOLIO */
/* .portfolio-item .iconbox {
    background-color: var(--c-brand);
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.portfolio-item:hover .iconbox {
    opacity: 1;
    top: 50%;
} */

/* REVIEW */
/* .review small {
    font-weight: 600;
    text-transform: uppercase;
    color: var(--c-brand);
}

.review-head {
    position: relative;
}

.review-head::after {
    content: "";
    width: 28px;
    height: 28px;
    position: absolute;
    bottom: -14px;
    background-color: white;
    transform: rotate(45deg);
} */

/* TEAM */
.team-member-content {
  background-color: var(--c-brand);
  position: absolute;
  bottom: -55px;
  left: 50%;
  width: calc(100% - 50px);
  transform: translateX(-50%);
  padding: 17px 0 15px 0;
  transition: var(--transition);
  opacity: 0.3;
}

.team-member:hover .team-member-content {
  opacity: 1;
  bottom: 24px;
}

/* CONTACT */
#contact {
  position: relative;
  z-index: 2;
}

#contact::after {
  content: "";
  width: 100%;
  height: 70%;
  /* background: linear-gradient(rgba(var(--c-brand-rgb), 0.8), rgba(var(--c-brand-rgb), 0.8)), url(../images/counter.jpg); */
  background: var(--c-brand);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#contact .form-control {
  border-radius: 0;
}

#contact .form-control:focus {
  box-shadow: none;
  border-color: var(--c-brand);
}

/* FOOTER */
footer {
  padding-top: 120px;
}

.footer-top {
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-bottom {
  padding-top: 40px;
  padding-bottom: 40px;
}

footer li,
footer p,
footer a {
  color: rgba(255, 255, 255, 0.7);
}

footer ul {
  list-style: none;
  padding: 0;
}

footer .line {
  width: 40px;
  height: 4px;
  background-color: var(--c-brand-ultralight);
  margin-top: 12px;
  margin-bottom: 24px;
}

.social-icons a {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100px;
}

.social-icons a:hover {
  background-color: var(--c-brand);
  color: white;
}
.container {
  max-width: 1600px !important;
}

/* contact-us-form  */
/* .contact-us-form {
  height: 570px !important;
  width: 100% !important;
  border: none !important;
  color: black !important;
  overflow: hidden !important;
} */

.fieldContWrapper {
  width: 100%;
  max-width: calc(
    var(--form-width) + var(--form-cont-space-right) +
      var(--form-cont-space-left)
  );
  box-sizing: border-box;
  margin: 0 auto;
  padding: none !important;
  float: var(--form-align);
}

.bg-smag-blue-subtle {
  background-color: #21488bee;
  border-radius: 8px;
}
